<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>LEIPZIG GIESST</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="title" content="LEIPZIG GIESST">
        <meta name="description" content="Die Leipziger Stadtb채ume leiden unter Trockenheit und Du kannst ihnen helfen!">
        <meta property="og:url" content="<%= domain %>/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="LEIPZIG GIESST">
        <meta property="og:description" content="Die Leipziger Stadtb채ume leiden unter Trockenheit und Du kannst ihnen helfen!">
        <meta property="og:image" content="<%= domain %>/images/social_media.jpg">
        <meta property="og:site_name" content="LEIPZIG GIESST">
        <meta name="twitter:card" ontent="summary">
        <meta name="twitter:site" content="@codeforleipzig">
        <meta name="twitter:creator" content="@codeforleipzig">
        <meta name="twitter:url" content="<%= domain %>/">
        <meta name="twitter:title" content="LEIPZIG GIESST">
        <meta name="twitter:description" content="Die Leipziger Stadtb채ume leiden unter Trockenheit und Du kannst ihnen helfen!">
        <meta name="twitter:image" content="<%= domain %>/images/social_media.jpg">
        <meta itemprop="name" content="LEIPZIG GIESST">
        <meta itemprop="description" content="Die Leipziger Stadtb채ume leiden unter Trockenheit und Du kannst ihnen helfen!">
        <meta itemprop="image" content="<%= domain %>/images/social_media.jpg">
        <style type="text/css">
            @font-face {
                font-family: 'IBM Plex Sans';
                src: url('/fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
                url('/fonts/IBMPlexSans-BoldItalic.woff') format('woff');
                font-weight: bold;
                font-style: italic;
            }

            @font-face {
                font-family: 'IBM Plex Sans';
                src: url('/fonts/IBMPlexSans-TextItalic.woff2') format('woff2'),
                url('/fonts/IBMPlexSans-TextItalic.woff') format('woff');
                font-weight: 500;
                font-style: italic;
            }

            @font-face {
                font-family: 'IBM Plex Sans';
                src: url('/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
                url('/fonts/IBMPlexSans-Bold.woff') format('woff');
                font-weight: bold;
                font-style: normal;
            }

            @font-face {
                font-family: 'IBM Plex Sans';
                src: url('/fonts/IBMPlexSans-Text.woff2') format('woff2'),
                url('/fonts/IBMPlexSans-Text.woff') format('woff');
                font-weight: 500;
                font-style: normal;
            }

            @font-face {
                font-family: 'sagesans-Regular';
                src: url('/fonts/sage_sans/sagesans-Regular.ttf') format('truetype'),
                url('/fonts/sage_sans/sagesans-Regular.ttf') format('truetype');
                font-weight: 500;
                font-style: normal;
            }

        </style>
        <script>
            // taken from https://www.paulirish.com/2009/fighting-the-font-face-fout/
            (function(){
            // hide content till load (or 3 seconds) to prevent FOUT
                const doc = document;
                const ele = doc.documentElement;
                const style = doc.createElement('style');

                  style.textContent = 'body{visibility:hidden}';
                  const script = doc.getElementsByTagName('script')[0];
                  script.parentNode.insertBefore(style, script);
                  function remove(){
                      if(style.parentNode){
                          doc.body.classList.add("fade")
                           style.parentNode.removeChild(style);
                        }
                     }
                  addEventListener('load',remove,false);
                  setTimeout(remove,1500);

              })();

        </script>
    </head>
    <body >
        <div id="app"></div>
    </body>
</html>
