<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Gieß den Kiez | CityLAB Berlin</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <meta name="title" content="Gieß den Kiez | CityLAB Berlin">
        <meta name="description" content="Die Berliner Stadtbäume leiden unter Trockenheit und Du kannst ihnen helfen!">
        <meta property="og:url" content="<%= domain %>/">
        <meta property="og:type" content="website">
        <meta property="og:title" content="Gieß den Kiez | CityLAB Berlin">
        <meta property="og:description" content="Die Berliner Stadtbäume leiden unter Trockenheit und Du kannst ihnen helfen!">
        <meta property="og:image" content="<%= domain %>/images/social_media.jpg">
        <meta property="og:site_name" content="Gieß den Kiez | CityLAB Berlin">
        <meta name="twitter:card" ontent="summary">
        <meta name="twitter:site" content="@citylabberlin">
        <meta name="twitter:creator" content="@citylabberlin">
        <meta name="twitter:url" content="<%= domain %>/">
        <meta name="twitter:title" content="Gieß den Kiez | CityLAB Berlin">
        <meta name="twitter:description" content="Die Berliner Stadtbäume leiden unter Trockenheit und Du kannst ihnen helfen!">
        <meta name="twitter:image" content="<%= domain %>/images/social_media.jpg">
        <meta itemprop="name" content="Gieß den Kiez | CityLAB Berlin">
        <meta itemprop="description" content="Die Berliner Stadtbäume leiden unter Trockenheit und Du kannst ihnen helfen!">
        <meta itemprop="image" content="<%= domain %>/images/social_media.jpg">
        <style type="text/css">
            @font-face {
                font-family: 'IBM Plex Sans';
                src: url('/fonts/IBMPlexSans-BoldItalic.woff2') format('woff2'),
                url('/fonts/IBMPlexSans-BoldItalic.woff') format('woff');
                font-weight: bold;
                font-style: italic;
            }

            @font-face {
                font-family: 'IBM Plex Sans';
                src: url('/fonts/IBMPlexSans-TextItalic.woff2') format('woff2'),
                url('/fonts/IBMPlexSans-TextItalic.woff') format('woff');
                font-weight: 500;
                font-style: italic;
            }

            @font-face {
                font-family: 'IBM Plex Sans';
                src: url('/fonts/IBMPlexSans-Bold.woff2') format('woff2'),
                url('/fonts/IBMPlexSans-Bold.woff') format('woff');
                font-weight: bold;
                font-style: normal;
            }

            @font-face {
                font-family: 'IBM Plex Sans';
                src: url('/fonts/IBMPlexSans-Text.woff2') format('woff2'),
                url('/fonts/IBMPlexSans-Text.woff') format('woff');
                font-weight: 500;
                font-style: normal;
            }
        </style>
        <script>
            // taken from https://www.paulirish.com/2009/fighting-the-font-face-fout/
            (function(){
            // hide content till load (or 3 seconds) to prevent FOUT
                const doc = document;
                const ele = doc.documentElement;
                const style = doc.createElement('style');

                  style.textContent = 'body{visibility:hidden}';
                  const script = doc.getElementsByTagName('script')[0];
                  script.parentNode.insertBefore(style, script);
                  function remove(){
                      if(style.parentNode){
                          doc.body.classList.add("fade")
                           style.parentNode.removeChild(style);
                        }
                     }
                  addEventListener('load',remove,false);
                  setTimeout(remove,1500);

              })();

        </script>
<!-- Matomo -->
<!--
    Dont worry. We don't sell your data.
    This is only for internal usage
 -->
<script type="text/javascript">
    /**
     * Matomo
     * Dont worry. We don't sell your data.
     * This is only for internal usage.
     * Use DNT (Do not track) and we will honor it.
     */
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(["setDoNotTrack", true]);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://piwik.technologiestiftung-berlin.de/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '12']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <noscript><p><img src="https://piwik.technologiestiftung-berlin.de/matomo.php?idsite=12&amp;rec=1" style="border:0;" alt="" /></p></noscript>
  <!-- End Matomo Code -->

    </head>
    <body >
        <div id="app"></div>
    </body>
</html>